#home{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.4fr 2.2fr 0.4fr; 
    grid-template-rows: 0.5fr 2.9fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". header ."
        ". content ."
        ". buttons .";
    align-items: center;
    justify-content: center;
    background: rgb(37,0,255);
    background: linear-gradient(30deg, rgba(37,0,255,1) 0%, rgba(213,0,255,1) 30%, rgba(251,7,7,1) 100%);
}
.buttonsContainer { 
    grid-area: buttons;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    font-size: 20px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    align-items: center;
    color: white;
    padding: 20px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
}
button:hover{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #060c08, #ffffff);
}
.header { 
    grid-area: header; 
    font-size: 40px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.container{
    grid-area: content;
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    margin : 20px;
    font-size: 50px;
}
.innerBox {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.box:hover .innerBox {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front {
    background: rgb(37,0,255);
    background: linear-gradient(30deg, rgba(37,0,255,1) 0%, rgba(0,0,0,1) 30%, rgba(251,7,7,1) 100%);
    color: white;
}
.back {
    background: rgb(251,7,7);
    background: linear-gradient(30deg, rgba(251,7,7,1) 0%, rgba(0,0,0,1) 30%, rgba(37,0,255,1) 100%);
    color: white;
    transform: rotateY(180deg);
}